* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	color: #999;
	background: #202020 url('../img/bg10.png') repeat;
	font-size: 11px;
	font-weight: 300;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}
h3 {
	color: #ccc;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover, a:active, .clicked {
	color: #38f;
}
#header-wrapper {
	background-color: #202020;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	border-bottom: solid 1px #000;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
#header-bar {
	width: 980px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 17px;
	position: relative;
}
#header-bar img {
	height: 60px;
	float: left;
	margin-right: 5px;
	margin-left: -5px;
	margin-top: -5px;
}
#page-title {
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 0px;
	color: #38f;
}
#page-subtitle, .sub-title {
	font-size: 11px;
	font-weight: 200;
}
#link-container {
	float: right;
}
#link-container ul {
	display: block;
	list-style: none;
	text-align: right;
	margin-bottom: 10px;
}
#link-container ul li {
	display: inline-block;
	list-style: none;
}
#link-container div {
	font-size: 14px;
	text-align: right;
	/*font-weight: 100;*/
	/*letter-spacing: 1px;*/
}
#link-container div a {
	display: inline-block;
}
a.button {
	font-size: 14px;
	display: block;
	color: #fff;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
	background-color: #38f;
	border-radius: 2px;
	width: 60px;
	padding: 1px 0px;
	margin-left: 5px;
	cursor: pointer;
}
a.button:hover, a.button:active, a.button.clicked {
	background-color: #fff;
	color: #38f;
}
#main-container {
	width: 980px;
	margin: 0 auto 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
#medialist {
	margin: 0;
	width: 100%;
	list-style: none;
}
#medialist li {
	height: 130px;
	padding: 15px;
	border: none;
	background-color: rgba(24,24,24,0.7);
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 6px;
}
#medialist li:hover h3 {
	color: #38f;
}
#medialist li:hover {
	background-color: rgba(48,48,48,0.7);
}
#medialist .mediaitem-image-wrap {
	width: 200px;
	height: 130px;
	overflow: hidden;
	margin-right: 20px;
	float: left;
	background-color: #38f;
	position: relative;
	display: block;
	cursor: pointer;
	border: 3px #38f; solid;
}
.mediaitem-image-wrap:hover a:after, .watch-later a:after {
	display: block;
	color: #fff;
	font-weight: 300;
	content: "Watch later";
	text-align: center;
	line-height: 20px;
	width: 80px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #38f;
	border-radius: 3px;
	border: 3px #fff solid;
}
.mediaitem-image-wrap img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}
.description {
	margin-top: 20px;
	font-size: 14px;
}
.details {
	margin-top: 3px;
	font-size: 12px;
}
#poll {
	display: inline-block;
}
#sort-links {
	display: inline-block;
	width: 230px;
	cursor: pointer;
}
#order-links {
	display: inline-block;
	width: 135px;
	cursor: pointer;
}
#sort-order b {
	font-size: 8px;
}
#sort-order, .poll-link, .error-dismiss {
	cursor: pointer;
}
.filter-live [data-itemtype="offline"],
.filter-live [data-itemtype="video"],
.filter-offline [data-itemtype="live"],
.filter-offline [data-itemtype="video"],
.filter-video [data-itemtype="live"],
.filter-video [data-itemtype="offline"]
{display: none;}

#error-overlay {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #000;
	opacity: .70;
}
#error-box {
	background-color: #f7d2d6;
	width: 500px;
	height: 120px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	margin: auto;
	z-index: 101;
	border-radius: 10px;
	border: 5px #df3e4d solid;
	text-align: center;
}
#error-message {
	margin-top: 30px;
	font-size: 14px;
	font-weight: 500;
	color: #df3e4d;
}
#error-dismiss {
	font-size: 14px;
	display: block;
	color: #fff;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
	background-color: #df3e4d;
	border-radius: 2px;
	padding: 5px;
	width: 60px;
	margin: 30px auto;
}
#error-container {
	display: none;
}
.fade {
	opacity: .15;
}
.cursor-wait, .cursor-wait * {
	cursor: wait !important;
}